.user-profile {
    padding: 65px;
}

.profile-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000010;

}

.profile-item-tag {
    margin-right: 10px;
    background-color: #00000010;
    color: blue;
    font-size: 10px;
    padding: 5px;
    border-radius: 2px;
    font-weight: normal;
}

.profile-item-right {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.profile-item-right-span {
    padding: 5px;
}

.profile-item-title {
    font-weight: normal;
    cursor: pointer;
    color: #2176d2;
}